<div class="example-container">
  <h2 class="status-name">{{status.name}}</h2>
  <div
    cdkDropList
    id="status_drop_list_{{status?.id}}"
    #doneList="cdkDropList"
    [cdkDropListData]="task"
    [cdkDropListConnectedTo]="connectedList"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
      <mat-card class="example-box" *ngFor="let item of task" (contextmenu)="openDialog(item)" cdkDrag>
          <mat-card-title class="font-header">{{item.name}}</mat-card-title>
        <mat-card-content class="font-main">
          <p>
            {{item.description}}
          </p>
        </mat-card-content>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image':'url(https://images.unsplash.com/photo-1504021037272-d8413c3411db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80)'}"></div>
          <mat-card-title class="font-main" style="padding-top: 0.3rem">Андрюха Балян</mat-card-title>
        </mat-card-header>
      </mat-card>
  </div>
</div>
