<mat-toolbar>
  <p class="project-name">{{selectProjectObject?.name}}</p>
  <button class="create-task-button" mat-raised-button (click)="openDialog()">Додати нове завдання</button>

</mat-toolbar>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="left-container" mode="side">
    <app-project-one *ngFor="let one of projects?.content" [project]="one"></app-project-one>
  </mat-drawer>

  <div class="right-container">
    <button class="list-project" mat-fab  (click)="drawer.toggle()">
      <mat-icon>list</mat-icon>
    </button>

    <app-project-status-one *ngFor="let one of projectStatuses" [connectedList]="connectedList"
                            [status]="one"></app-project-status-one>

  </div>

</mat-drawer-container>


